/* body{

	background-color: #272829;
}
h4{

	color: #D71313;
}


p{
	font-size: 9pt;
	color: gray;
	font-family: sans-serif;
	display: block;
	
}


.container{
	display: flex;
	align-items: flex;
	justify-content: center;
}
/*form{
	background: #fff;
	width: 200px;
	height: 30px;
	display: flex;
	margin-right: 300px;

}

form input{
	flex: 1;
	border:none ;
	outline: none;
	font-family:sans-serif;

}
form button{
	background: #D71313;
	padding: 10px 50px;
	border: none;
	outline: none;
	color: #fff;
	letter border-spacing: 1px;
	cursor: pointer;
}
form .fa-magnifying-glass{
	align-self: center;
	padding: 10px 10px;
	color: #777;
}



.index ul{
    margin-top: 10px;
	list-style: none;
	
}
.index ul li{
   font-size: 12pt;
   text-decoration-color:  #EEEEEE;
   position: relative;
   display: block;
   transition: 0.5s;
   cursor: pointer;
   margin-top: 30px;
   margin-left: 0px;

}
.index ul li::after{

	position: absolute;
	content: "";
	width: 5%;
	height: 2px;
	top: 100%;
	left: 0;
	transition: transform 0.2s;
	transform: scale(0);
	transform-origin:center;
	background-color: #D71313;
}
.index ul li:hover{
	color: #ffffff;

}
.index ul li:hover::after{
	transform: scale(1);
	transform-origin: left;
}
.index ul li a{
	text-decoration: none;
	font-family: "Segoe UI",sans-serif;
	color: gray;
}

.line{

  border-bottom: 2px solid gray;
  width: 160px;
  position: absolute;
  left: 2%;
  top: 270px;
  margin-top: 2%;

}
.line2{

  border-left: 2px solid gray;
  height: 800px;
  position: absolute;
  left: 17%;
  margin-left: -3px;
  top: 40px;
  bottom: 40px;

}


.followList ul{
    margin-top: 10px;
	list-style: none;
	
}
.followList ul li{
   font-size: 12pt;
   text-decoration-color:  #EEEEEE;
   position: relative;
   display: block;
   margin-top: 10px;
   
}


.followList ul li a{
	text-decoration: none;
	font-family: "Segoe UI",sans-serif;
	color: gray;
}

.followList ul li a:active{
	color: #D71313 ;
}


.noti ul{
	margin-top: 3px;
	list-style: none;
	align-items: right;
	display: flex;
	gap: 1rem;
	margin-left: 190px;
	margin-right: 100px;

}
.noti ul li{
   font-size: 20pt;
   text-decoration-color:  #EEEEEE;
   position: relative;
   display: block;
   margin-top: 5px;
   margin-left: 0px;

}
.noti ul li a{
    text-decoration: none;
	font-family: "Segoe UI",sans-serif;
	color: gray;
	margin-left: 0px;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* for universal alignment  */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--Poppins);
}

:root{

	/* font family  */
	--Poppins: 'Poppins', sans-serif;

	/* font weight  */
	--fw-thin: 100;
	--fw-extra-light: 200; 
	--fw-light: 300;
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;

	/* color  */
	--scarlet: #FF220C;
	--gunmetal: #19323C;
	--mint-cream: #F3F7F0;
	--gray: #808080;
	--cornflower-blue: #788BFF;
	--macaw: #1cb0f6;
    --humpback: #2b70c9;
    --beetle: #ce82ff;
    --bee: #ffc800;
    --fox: #ff9600;
    --cardinal: #ff4b4b;
	/* neutrals  */
    --eel: #4b4b4b;
    --wolf: #777;
    --hare: #afafaf;
    --swan: #e5e5e5;
    --polar: #f7f7f7;
    --snow: #fff;
    --shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);

	 /* font size  */
	 --fs-10: 10px;
	 --fs-12: 12px;
	 --fs-14: 14px;
	 --fs-16: 16px;
	 --fs-18: 18px;
	 --fs-22: 22px;
	 --fs-20: 20px;
	 --fs-24: 24px;
	 --fs-26: 26px;
	 --fs-28: 28px;
	 --fs-34: 34px;
}

.col-auto{width: auto !important;}
.col-100{width: 100%;}
.h-100{width: 100%;}
.cursor-pointer{cursor: pointer;}
.flex-row{flex-direction: row;}
.flex-column{flex-direction: column;}
.text-decoration-none{text-decoration: none !important;}


/* .cursor-pointer:hover{color: var(--macaw);} */
/* column break points 
.col-1{width: 8.33% !important; float: left;}
.col-2{width: calc(8.33% * 2) !important; float: left;}
.col-3{width: calc(8.33% * 3) !important; float: left;}
.col-4{width: calc(8.33% * 4) !important; float: left;}
.col-5{width: calc(8.33% * 5) !important; float: left;}
.col-6{width: calc(8.33% * 6) !important; float: left;}
.col-7{width: calc(8.33% * 7) !important; float: left;}
.col-8{width: calc(8.33% * 8) !important; float: left;}
.col-9{width: calc(8.33% * 9) !important; float: left;}
.col-10{width: calc(8.33% * 10) !important; float: left;}
.col-11{width: calc(8.33% * 11) !important; float: left;}
.col-12{width: calc(8.33% * 12) !important; float: left;}

/* height break points 
.h-100{height: 100vh  !important;}
.h-90{height: 90vh  !important;}
.h-80{height: 80vh  !important;}
.h-70{height: 70vh  !important;}
.h-60{height: 60vh  !important;}
.h-50{height: 50vh  !important;}
.h-40{height: 40vh  !important;}
.h-30{height: 30vh  !important;}
.h-20{height: 20vh  !important;}
.h-10{height: 10vh  !important;}
.h-auto{height: auto  !important;}
.h-0{height: 0vh !important;} */

.position-relative{position: relative;}
.position-absolute{position: absolute;}

/* margin 
.me-1{margin-left: 1rem;}
.me-2{margin-left: 2rem;}
.me-3{margin-left: 3rem;}
.me-0{margin-left: 0;}
.ms-1{margin-right: 1rem;}
.ms-2{margin-right: 2rem;}
.ms-3{margin-right: 3rem;}
.ms-0{margin-right: 0rem;}
/*.mb-1{margin-bottom: 1rem;}
.mb-2{margin-bottom: 2rem;}
.mb-3{margin-bottom: 3rem;}
.mb-0{margin-bottom: 0rem;}
.mt-1{margin-top: 1rem;}
.mt-2{margin-top: 2rem;}
.mt-3{margin-top: 3rem;}
.mt-0{margin-top: 0rem;}
.mt-little{margin-top: 5px;}*/

/* padding */
.p-1{padding: .2rem;}
.p-2{padding: 1rem;}
.p-3{padding: 1.5rem;}
.p-4{padding: 2rem;}
.p-5{padding: 2.5rem;}
.pe-1{padding-left: 1rem;}
.pe-2{padding-left: 2rem;}
.pe-3{padding-left: 3rem;}
.pe-0{padding-left: 0;}
.ps-1{padding-right: 1rem;}
.ps-2{padding-right: 2rem;}
.ps-3{padding-right: 3rem;}
.ps-0{padding-right: 0rem;}

.mb-5{margin-bottom: 5rem;}

/* for container  */
.container{
	width: 100%;
	/* overflow: hidden; */
	background-color: var(--gunmetal);
}

/* for flex box  */
.d-flex{display:  flex !important;}
.d-block{display: block !important;}
.d-inline{display: inline !important;}
.d-inline-block{display: inline-block !important;}
.d-none{display: none !important;}

.align-items-center{align-items: center;}
.align-items-start{align-items: start;}
.align-items-end{align-items: end;}

.justify-content-center{justify-content: center;}
.justify-content-between{justify-content: space-between;}
.justify-content-evenly{justify-content: space-evenly;}
.justify-content-start{justify-content: start;}
.justify-content-end{justify-content: end;}

/* for default 


/* aside panel  */
.aside-bar{
	/* background-color: blue; */
	padding: 1rem;
	border-right: 1px solid var(--eel);
	/* border-right: 1px solid var(--wolf); */
	transition: all .5s ease-in-out;
}

.new-feed-wrapper{
	/* margin-top: 1rem;
	background-color: red; */
	margin-bottom: .5rem;
}

/* .following-wrapper{
	margin-top: 1rem;
	background-color: cyan;
} */

/* .logo-wrapper{
	background-color: violet;
} */

.logout-button-wrapper{
	/* background-color: black; */
	border-top: 1px solid var(--wolf);
	padding-top: 10px;
	padding-left: 10px;
}




/* main panel  */
.main-panel{
	overflow-y: scroll;
	/* background-color: burlywood; */
}

.main-panel::-webkit-scrollbar{
	display: none;
}

/* .search-bar-wrapper{
	background-color: aqua;
} */

/* .noti-bar-wrapper{
	background-color: #788BFF;
} */

.image-slider-wrapper{
	/* background-color: #808080; */
	padding: 1rem;
}

.image-slider{
	border-radius: 10px;
	/* background-color: #FF220C; */
	box-shadow: var(--shadow);
	box-shadow: 2px 4px 15px rgba(110, 110, 110, 0.409);
	overflow: hidden;
}

/* party style goes here  */
.parties-wrapper{
	padding: .5rem;
	margin-bottom: 1rem;
}

/* watching panel  */
.watching-wrapper{
	padding: .5rem;

}

.movie-wrapper{
	padding: .7rem;
	transition: all .2s ease-in;
	overflow: hidden;
	position: relative;
	border-radius: 10px !important;
}

.movie{
	/* background-color: #fff; */
	border-radius: 10px;
	transition: all .2s ease-in-out;
}

.movie:hover ~ .movie-details{
	transform: translateY(0%);
	z-index: 9;
	bottom: 11px;
}

.movie-details{
	width: 94%;
	height: 90%;
	position: absolute;
	bottom: 11px;
	left: 11px;
	transform: translateY(110%);
	background: linear-gradient(rgba(20, 20, 20, 0.461),rgba(131, 131, 132, 0.402));
	transition: all .5s ease;
	border-radius: 10px;
	padding: 1rem;
}

.movie-details:hover{
	transform: translateY(0%);
	z-index: 9;
}

.fa-bookmark{
	color: var(--polar);
	font-size: var(--fs-24);
}

.movie-title{
	font-size: var(--fs-22);
	font-weight: var(--fw-semibold);
	color: var(--snow);
	/* margin-bottom: 4px; */
}

.watch-btn{
	margin-top: 10px;
	color: var(--eel);
	font-size: var(--fs-12) !important;
	font-weight: var(--fw-semibold);
	width: 50%;
	padding: 5px 10px;
	height: auto;
	text-align: center;
	border-radius: 15px;
	background: var(--swan);
	cursor: pointer;
	transition: all .3s ease;
}

.watch-btn-secondary{
	/* margin-top: 10px; */
	color: var(--eel);
	font-size: var(--fs-24) !important;
	width: 50px;
	/* padding: 5px 10px; */
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: var(--swan);
}

.watch-btn-secondary:hover{
	background: var(--snow);
	color: var(--scarlet);
}

.watch-btn:hover{
	background: var(--scarlet);
	color: var(--swan);
}

.rating{
	text-align: center;
	width: auto;
	height: auto;
	border: 1.5px solid var(--polar);
	border-radius: 5px;
	color: var(--polar);
	font-size: var(--fs-16);
	font-weight: var(--fw-regular);
	margin-top: 10px;
}

.dur{
	color: var(--polar);
	font-size: var(--fs-14);
	font-weight: var(--fw-regular);
	margin-top: 10px;
}
.add-to-watchlist{
	cursor: pointer;
}
.add-to-watchlist:hover{
	color: var(--scarlet);
}

/* for tablet  */
@media all and (max-width: 768px){

	/* column break points  */
	.col-md-1{width: 8.33% !important; float: left;}
	.col-md-2{width: calc(8.33% * 2) !important; float: left;}
	.col-md-3{width: calc(8.33% * 3) !important; float: left;}
	.col-md-4{width: calc(8.33% * 4) !important; float: left;}
	.col-md-5{width: calc(8.33% * 5) !important; float: left;}
	.col-md-6{width: calc(8.33% * 6) !important; float: left;}
	.col-md-7{width: calc(8.33% * 7) !important; float: left;}
	.col-md-8{width: calc(8.33% * 8) !important; float: left;}
	.col-md-9{width: calc(8.33% * 9) !important; float: left;}
	.col-md-10{width: calc(8.33% * 10) !important; float: left;}
	.col-md-11{width: calc(8.33% * 11) !important; float: left;}
	.col-md-12{width: calc(8.33% * 12) !important; float: left;}

	/* height break points  */
	.h-md-100{height: 100vh !important;}
	.h-md-90{height: 90vh !important;}
	.h-md-80{height: 80vh !important;}
	.h-md-70{height: 70vh !important;}
	.h-md-60{height: 60vh !important;}
	.h-md-50{height: 50vh !important;}
	.h-md-40{height: 40vh !important;}
	.h-md-30{height: 30vh !important;}
	.h-md-20{height: 20vh !important;}
	.h-md-10{height: 10vh !important;}
	.h-md-0{height: 0vh !important;}

	/* for flex box  */
	.d-md-flex{display:  flex !important;}
	.d-md-block{display: block !important;}
	.d-md-inline{display: inline !important;}
	.d-md-inline-block{display: inline-block !important;}
	.d-md-none{display: none !important;}

	.align-items-md-center{align-items: center !important;}
	.align-items-md-start{align-items: start !important;}
	.align-items-md-end{align-items: end !important;}

	.justify-content-md-center{justify-content: center !important;}
	.justify-content-md-between{justify-content: space-between !important;}
	.justify-content-md-evenly{justify-content: space-evenly !important;}
	.justify-content-md-start{justify-content: start !important;}
	.justify-content-md-end{justify-content: end !important;}


	/* margin */
	.me-md-1{margin-left: 1rem !important;}
	.me-md-2{margin-left: 2rem !important;}
	.me-md-3{margin-left: 3rem !important;}
	.me-md-0{margin-left: 0 !important;}
	.ms-md-1{margin-right: 1rem !important;}
	.ms-md-2{margin-right: 2rem !important;}
	.ms-md-3{margin-right: 3rem !important;}
	.ms-md-0{margin-right: 0rem !important;}
	.mb-md-1{margin-bottom: 1rem !important;}
	.mb-md-2{margin-bottom: 2rem !important;}
	.mb-md-3{margin-bottom: 3rem !important;}
	.mb-md-0{margin-bottom: 0rem !important;}
	.mt-md-1{margin-top: 1rem !important;}
	.mt-md-2{margin-top: 2rem !important;}
	.mt-md-3{margin-top: 3rem !important;}
	.mt-md-0{margin-top: 0rem !important;}

	/* padding */
	.pe-md-1{padding-left: 1rem !important;}
	.pe-md-2{padding-left: 2rem !important;}
	.pe-md-3{padding-left: 3rem !important;}
	.pe-md-0{padding-left: 0 !important;}
	.ps-md-1{padding-right: 1rem !important;}
	.ps-md-2{padding-right: 2rem !important;}
	.ps-md-3{padding-right: 3rem !important;}
	.ps-md-0{padding-right: 0rem !important;}

	/* aside bar  */
	.aside-bar{
		padding: 0;
	}

	/* image slider wrapper  */
	.image-slider-wrapper{
		padding: .5rem;
	}
	.aside-bar{
		/* background-color: blue; */
		/* padding: 1rem; */
		border-right: none;
		border-bottom: 1px solid var(--wolf);
	}
	.parties-wrapper{
		height: auto !important;
	}
	.swiper-wrapper{
		height: auto !important;
		/* padding: 1rem !important; */
	  }

	  

	  .movie-details{
		width: 96%;
	  }
}


/* for mobile  */
@media all and (max-width: 576px){

	/* column break points  */
	.col-sm-1{width: 8.33% !important; float: left;}
	.col-sm-2{width: calc(8.33% * 2) !important; float: left;}
	.col-sm-3{width: calc(8.33% * 3) !important; float: left;}
	.col-sm-4{width: calc(8.33% * 4) !important; float: left;}
	.col-sm-5{width: calc(8.33% * 5) !important; float: left;}
	.col-sm-6{width: calc(8.33% * 6) !important; float: left;}
	.col-sm-7{width: calc(8.33% * 7) !important; float: left;}
	.col-sm-8{width: calc(8.33% * 8) !important; float: left;}
	.col-sm-9{width: calc(8.33% * 9) !important; float: left;}
	.col-sm-10{width: calc(8.33% * 10) !important; float: left;}
	.col-sm-11{width: calc(8.33% * 11) !important; float: left;}
	.col-sm-12{width: calc(8.33% * 12) !important; float: left;}


	/* height break points  */
	.h-sm-100{height: 100vh !important;}
	.h-sm-90{height: 90vh !important;}
	.h-sm-80{height: 80vh !important;}
	.h-sm-70{height: 70vh !important;}
	.h-sm-60{height: 60vh !important;}
	.h-sm-50{height: 50vh !important;}
	.h-sm-40{height: 40vh !important;}
	.h-sm-30{height: 30vh !important;}
	.h-sm-20{height: 20vh !important;}
	.h-sm-10{height: 10vh !important;}
	.h-sm-0{height: 0vh !important;}

	/* for flex box  */
	.d-sm-flex{display:  flex !important;}
	.d-sm-block{display: block !important;}
	.d-sm-inline{display: inline !important;}
	.d-sm-inline-block{display: inline-block !important;}
	.d-sm-none{display: none !important;}

	.align-items-sm-center{align-items: center !important;}
	.align-items-sm-start{align-items: start !important;}
	.align-items-sm-end{align-items: end !important;}

	.justify-content-sm-center{justify-content: center !important;}
	.justify-content-sm-between{justify-content: space-between !important;}
	.justify-content-sm-evenly{justify-content: space-evenly !important;}
	.justify-content-sm-start{justify-content: start !important;}
	.justify-content-sm-end{justify-content: end !important;}

	/* margin */
	.me-sm-1{margin-left: 1rem  !important;}
	.me-sm-2{margin-left: 2rem  !important;}
	.me-sm-3{margin-left: 3rem  !important;}
	.me-sm-0{margin-left: 0  !important;}
	.ms-sm-1{margin-right: 1rem !important;}
	.ms-sm-2{margin-right: 2rem !important;}
	.ms-sm-3{margin-right: 3rem !important;}
	.ms-sm-0{margin-right: 0rem !important;}
	.mb-sm-1{margin-bottom: 1rem !important;}
	.mb-sm-2{margin-bottom: 2rem !important;}
	.mb-sm-3{margin-bottom: 3rem !important;}
	.mb-sm-0{margin-bottom: 0rem !important;}
	.mt-sm-1{margin-top: 1rem !important;}
	.mt-sm-2{margin-top: 2rem !important;}
	.mt-sm-3{margin-top: 3rem !important;}
	.mt-sm-0{margin-top: 0rem !important;}

	/* padding */
	.pe-sm-1{padding-left: 1rem  !important;}
	.pe-sm-2{padding-left: 2rem  !important;}
	.pe-sm-3{padding-left: 3rem  !important;}
	.pe-sm-0{padding-left: 0  !important;}
	.ps-sm-1{padding-right: 1rem  !important;}
	.ps-sm-2{padding-right: 2rem  !important;}
	.ps-sm-3{padding-right: 3rem !important;}
	.ps-sm-0{padding-right: 0rem !important;}

	.movie-details{
		width: 95%;
	  }

}


/* swiper style  */
.swiper {
	width: 100%;
	height: 100%;
  }

  .swiper-wrapper{
	height: 30vh;
	padding: 1rem !important;
  }

  .my-swiper-wrapper{
	height: 70vh !important;
	padding: 0 !important;
  }

  .mySwiper , .my-mySwiper{
	height: auto;
  }

  .party-card {
	text-align: start;
	font-size: 18px;
	background: rgba(92, 92, 92, 0.25);
	height: 100% !important;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 1rem;
	box-shadow: var(--shadow);
	position: relative;
	transition: all .3s ease;
  }

  .party-card::before{
	content: "";
	position: absolute;
	left: 0;
	top: 10%;
	width: 7px;
	height: 0%;
	border-radius: 10px;
	background: var(--scarlet);
	transition: all .3s ease-in;
  }

  .party-card:hover::before{
	height: 40%;
  }

  .party-card h4{
	font-size: var(--fs-22);
	font-weight: var(--fw-semibold);
	color: var(--swan);
  }

  .party-card span{
	color: var(--wolf);
	font-size: var(--fs-16);
	font-weight: var(--fw-regular);
  }

  .party-card:hover{
	transform: scale(1.03);
  }

  .party-card img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

  .party-img{
	box-shadow: var(--shadow);
  }

  .span2{
	color: var(--polar) !important;
  }

  /* english movies    .eng-65{
	background-image: url("../img/Ellenshow/1.png"), linear-gradient(rgba(187, 187, 187, 0.265), rgba(24, 23, 23, 0.977)) !important;
  }
  .eng-snake-eyes{
	background-image: url("../img/jimmy/1.png"), linear-gradient(rgba(187, 187, 187, 0.265), rgba(24, 23, 23, 0.977)) !important;
  }
  .eng-extinction{
	background-image: url("../img/steve/1.png"), linear-gradient(rgba(187, 187, 187, 0.265), rgba(24, 23, 23, 0.977)) !important;
  }
  .eng-next{
	background-image: url("../img/carpool.jpg"), linear-gradient(rgba(187, 187, 187, 0.265), rgba(24, 23, 23, 0.977)) !important;
  }
  .eng-spectral{
	background-image: url("../img/gottalent.jpg"), linear-gradient(rgba(187, 187, 187, 0.265), rgba(24, 23, 23, 0.977)) !important;
  }
  .eng-alienoid{
	background-image: url("../img/bigshots/1.png"), linear-gradient(rgba(187, 187, 187, 0.265), rgba(24, 23, 23, 0.977)) !important;
  }
  .korean-the-wailing{
	background-image: url("../img/k1.png"), linear-gradient(rgba(187, 187, 187, 0.265), rgba(24, 23, 23, 0.977)) !important;
  }
  .korean-oldboy{
	background-image: url("../img/k2.png"), linear-gradient(rgba(187, 187, 187, 0.265), rgba(24, 23, 23, 0.977)) !important;
  }
  .korean-new-world{
	background-image: url("../img/k3.png"), linear-gradient(rgba(187, 187, 187, 0.265), rgba(24, 23, 23, 0.977)) !important;
  }
  .korean-i-saw-the-devil{
	background-image: url("../img/k4.png"), linear-gradient(rgba(187, 187, 187, 0.265), rgba(24, 23, 23, 0.977)) !important;
  }
  .korean-tidal-wave{
	background-image: url("../img/k5.png"), linear-gradient(rgba(187, 187, 187, 0.265), rgba(24, 23, 23, 0.977)) !important;
  }
  .korean-train-to-busan{
	background-image: url("../img/k6.png"), linear-gradient(rgba(187, 187, 187, 0.265), rgba(24, 23, 23, 0.977)) !important;
  }
  .china-ip-man-3{
	background-image: url("../img/c1.png"), linear-gradient(rgba(187, 187, 187, 0.265), rgba(24, 23, 23, 0.977)) !important;
  }
  .china-fearless{
	background-image: url("../img/c2.png"), linear-gradient(rgba(187, 187, 187, 0.265), rgba(24, 23, 23, 0.977)) !important;
  }
  .china-the-monkey-king{
	background-image: url("../img/c3.png"), linear-gradient(rgba(187, 187, 187, 0.265), rgba(24, 23, 23, 0.977)) !important;
  }
  .china-yesterday-once-more{
	background-image: url("../img/c6.png"), linear-gradient(rgba(187, 187, 187, 0.265), rgba(24, 23, 23, 0.977)) !important;
  }*/


  .eng-65, .eng-snake-eyes, .eng-extinction, .eng-alienoid, .eng-spectral, .eng-next, .korean-the-wailing, .korean-oldboy,
  .korean-new-world, .korean-i-saw-the-devil, .korean-tidal-wave, .korean-train-to-busan, .china-ip-man-3, .china-fearless,
  .china-the-monkey-king, .china-yesterday-once-more, .china-born-to-fly, .china-green-night{
	/* background: none; */
	/* background-position: center; */
	/* background-size: cover; */
	background-blend-mode:hue;
  }

  /* carousel-img  */
  .carousel-img{
	height: 100%;
  }